.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.topbar {
  padding: 15px 20px;
  background-color: #2196F3;
  color: #fff;
  font-size: 1.2em;
}
.chatarea {
  flex-grow: 1;
  background-color: #e0e0e0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.chatarea .chat {
  margin: 4px 0;
  display: flex;
  justify-content: flex-start;
}
.chatarea .chat.me {
  justify-content: flex-end;
}
.chatarea .chat.notify {
  justify-content: center;
}
.chatarea .chat.me p {
  background-color: #fff;
}
.chatarea .chat p {
  background-color: #BBDEFB;
  display: inline;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.chatarea .chat.notify p {
  background-color: transparent;
  box-shadow: none;
  font-size: 0.8em;
  font-weight: bold;
  color: grey;
}

.inputarea form {
  padding: 10px 0 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.inputarea .textbox {
  flex-grow: 1;
}
.inputarea .textbox, .usernamebox .user input {
  width: 100%;
  display: block;
  border: 0;
  font-size: 1.2em;
  border-bottom: 2px solid #e0e0e0;
}
.inputarea .textbox:focus, .usernamebox .user input:focus {
  outline: 0;
  border-color: #2196F3;
}
.inputarea .sendbutton, .usernamebox .user button {
  padding: 7px 10px;
  font-size: 1em;
  border: 0;
  background-color: transparent;
  color: #2196F3;
  font-weight: bold;
}
.inputarea .sendbutton:focus {
  outline: 0; 
}
.usernamebox {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}
.usernamebox .user {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 20px;
  align-items: center;
}
.usernamebox .user form {
  text-align: center;
}