<app-appnav></app-appnav>
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Learn Code</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="" class="btn btn-primary my-2">Get Started</a>
    </p>
  </div>
</section>
<div class="album py-5 bg-light">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img
                class="card-img-top"
                alt="Thumbnail [100%x225]"
                style="height: 225px; width: 100%; display: block;"
                src="http://placehold.it/322x225"
                data-holder-rendered="true"
              />
              <div class="card-body">
                <h4 class="card-text">item name</h4>
                <p class="card-text">item description</p>
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="card-text">{{'432' | currency}}</h2>
                    <button type="button" class="btn">
                        <i class="fas fa-shopping-cart"></i>
                    </button>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>